
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>post data using angular</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js\myapp.js" type="text/javascript"></script>
</head>

<body>
     <div class="container">
     <br>
        <div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" style="max-width:400px;">
            <div class="panel panel-default">
                <div class="panel-body"><h2>MY SHOPPING LIST</h2></div>
            </div>
            <ul class="list-group">
                  <li class="list-group-item"  ng-repeat="x in products">{{x}}
                  <span ng-click="removeItem($index)" style="cursor:pointer; color:blue;" class="glyphicon glyphicon-remove">
                  </span>
                  </li>
            </ul>
            <div>
                <div>
                    <div>
                        <input class="form-control" placeholder="Add shopping items here" ng-model="addMe" >
                    </div>
                    <hr>
                    <div>
                        <button class="btn btn-success" ng-click="addItem()" >Add</button>
                    </div>
                </div>
                <p class="error">{{errortext}}</p>
            </div>
        </div>
    </body>
</html>

